@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800&family=Montserrat:wght@500;700&display=swap');

/* GREAT CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Main CSS */
:root {
    --ff-main: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-darker-cyan: hsl(158, 36%, 20%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
}


/* Typography */
body {
    font-size: 14px;
    font-family: var(--ff-main);
    color: var(--clr-gray-blue);
}

.product-type {
    font-size: 0.9em;
    letter-spacing: 5px;
}

.product-title {
    font-family: var(--ff-secondary);
    color: var(--clr-dark-blue);
    line-height: 1;
    font-size: 2.3em;
    font-weight: 800;
}

.product-price {
    font-family: var(--ff-secondary);
    color: var(--clr-dark-cyan);
    font-size: 2.3em;
}

.product-prices {
    display: flex;
    gap: 1em;
}

.product-canceled-price {
    align-self: center;
    justify-self: center;
}

.cta-btn span {
   color: var(--clr-white); 
   margin-left: 0.5em;
   font-weight: 700;
}


/* Layout */
body {
    background-color: var(--clr-cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: var(--clr-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 37rem;
    border-radius: 10px;
    overflow: hidden;
}

.mobile-img {
  display: none;
}

.product-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}


/* Button */
.cta-btn {
    border: none;
    background-color: var(--clr-dark-cyan);
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 8px;
}

.cta-btn:hover,
.cta-btn:focus {
    cursor: pointer;
    background-color: var(--clr-darker-cyan);
}

.cta-btn svg {
    transform: translate(0, 3px);
}


/* Mobile view */
@media only screen and (max-width: 600px) {
    .mobile-img {
      display: block;
    }
    
    .desktop-img {
      display: none;
    }
    .card-container {
      grid-template-columns: 1fr;
      max-width: 22rem;
    }

    .product-text {
      gap: 0.8rem;
    }
}